{% extends "base.html" %}
{% block title %}VExD - About{% endblock %}
{% block body %}
<h2>Contact Us</h2>
<p>Do you have an issue with the site?  Did we miss a study that should have been included?  Did we make your life easier?  Send feedback to the primary developer, <a href="mailto:phillip.dexheimer@cchmc.org?subject=VExD%20feedback">Phillip Dexheimer</a>.</p>
<h2>How should I cite VExD?</h2>
<p>While our manuscript is in preparation, please cite us as:</p>
<cite>Phillip J Dexheimer, Krishna Roskin, Matthew T Weirauch. VExD: Virus Expression Database. URL: https://vexd.cchmc.org/</cite>
<h2>Who did all this?</h2>
<p>A joint effort between the <a href="https://www.cincinnatichildrens.org/research/divisions/b/bmi/labs/roskin">Roskin</a> and <a href="http://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology/labs/weirauch/default/">Weirauch</a> labs at Cincinnati Children's Hospital, VExD was conceived and developed by:</p>
<ul>
    <li>Phillip Dexheimer</li>
    <li>Krishna Roskin</li>
    <li>Matthew Weirauch</li>
</ul>
<p>Special thanks to Dr. Erica DePasquale for designing the VExD logo, Kevin Ernst for help with deploying the website, and all the members of the Roskin and Weirauch labs for their constructive feedback.</p>
{% endblock %}