<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}" />
        {% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ url_for('ui.get_virus_genes') }}">Virus Response</a>
            <a href="{{ url_for('ui.geo_search') }}">GEO Search</a>
            <a href="{{ url_for('ui.gene_search') }}">Gene Lookup</a>
            <a href="{{ url_for('ui.geo_lookup') }}">GEO Lookup</a>
            <a href="{{ url_for('ui.statistics') }}">Statistics</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>