<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <nav>
            <a href="{{ url_for('ui.vexd_home') }}">Home</a>
            <a href="{{ url_for('ui.gene_search') }}">Genes</a>
            <a href="{{ url_for('ui.geo_lookup') }}">Studies</a>
            <a href="{{ url_for('ui.methods') }}">Methods</a>
            <a href="{{ url_for('ui.about') }}">About VExD</a>
            <a href="{{ url_for('ui.help') }}">Help</a>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>