<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ url_for('ui.vexd_home') }}"><img src="{{ url_for('static', filename='vexd_logo.svg') }}"></a>
            <h1>Virus Expression Database</h1>
            <a id="cchmc" href="http://www.cincinnatichildrens.org/"><img src="{{ url_for('static', filename='Cchmc_brand_logo_with_clear_space.png') }}"></a>
        </header>
        <nav>
            <a href="{{ url_for('ui.vexd_home') }}">Home</a>
            <a href="{{ url_for('ui.gene_search') }}">Genes</a>
            <a href="{{ url_for('ui.methods') }}">Methods</a>
            <a href="{{ url_for('ui.about') }}">About VExD</a>
            <a href="{{ url_for('ui.help') }}">Help</a>
        </nav>
        {% block body %}{% endblock %}
        <footer>
            <p>A <a href="http://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology/labs/weirauch/default/" title="Weirauch Research Lab">Weirauch Research Lab</a> Production</p>
            <p>&copy; 2021 Cincinnati Children's Hospital Medical Center<br>
                3333 Burnet Avenue, Cincinnati, Ohio 45229-3039
             </p>
        </footer>
    </body>
</html>