{% extends "base.html" %}
{% block title %}Gene Results{% endblock %}
{% block body %}
<h1>{{ gene.symbol }}</h1>
<h2>{{ gene.description|default("No Description") }}</h2>
<p><b>Ensembl ID:</b> <a href="https://ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ gene.ensembl_id }}">{{ gene.ensembl_id }}</a></p>
<p><b>Refseq:</b> {% set commify=joiner(", ") %}{% for refseq in gene.refseq %}{{ commify() }}<a href="https://www.ncbi.nlm.nih.gov/nucleotide/{{ refseq }}">{{ refseq }}</a>{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Entrez ID:</b> {% set commify=joiner(", ") %}{% for entrez in gene.entrez %}{{ commify() }}<a href="https://www.ncbi.nlm.nih.gov/gene/{{ entrez }}">{{ entrez }}</a>{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Aliases:</b> {% set commify=joiner(", ") %}{% for alias in gene.alias %}{{ commify() }} {{ alias }}{% else %}<i>None listed</i>{% endfor %}</p>
<h3>{{ gene_results|length }} {{ "Result"|pluralize(gene_results|length) }}</h3>
<table>
    <thead>
        <tr>
            <th>Study</th>
            <th>Virus</th>
            <th>Cell Type</th>
            <th>Control Mean</th>
            <th>Infected Mean</th>
            <th>log Fold Change</th>
            <th>Adjusted p-value</th>
        </tr>
    </thead>
    <tbody>
        {% for result in gene_results %}
        <tr>
            <td><a href="{{ url_for('ui.display_geo_entry', gse_id=result.study) }}">{{ result.study }}</a></td>
            <td><i>{{ result.virus }}</i></td>
            <td>{{ result.cell_type }}</td>
            <td>{{ result.control_mean|round(3) }}</td>
            <td>{{ result.infect_mean|round(3) }}</td>
            <td>{{ result.logfc|round(3) }}</td>
            <td>{{ '{:.4g}'.format(result.adj_p) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}