{% extends "base.html" %}
{% from "utils.html" import geo_accession_link, pubmed_link, cell_type %}
{% block title %}GEO Results{% endblock %}
{% block body %}
{% set commify=joiner(", ") %}
<h1>{{ gse.id }} {{ geo_accession_link(gse.id, geo_icon=True) }}</h1>
<h2>{{ gse.title|default("Title Unknown") }}</h2>
<p>Submitted by {{ gse.submission.submitter }} ({{ gse.submission.institution }}, 
    {{ gse.submission.country }}) on {{ gse.submission.date_str }}</p>
<p><b>Platform:</b> {{ gse.platform.type }} &ndash; {{ gse.platform.name }} {{ geo_accession_link(gse.platform.id, geo_icon=True) }}</p>
<p><b>Pubmed:</b> {% for pmid in gse.pubmed %}{{ commify() }}{{ pubmed_link(pmid) }}{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Summary</b> {{ gse.summary|default('None')|replace("\n", "<br>"|safe) }}</p>
<h3>{{ gse.samples|length }} {{ "Sample"|pluralize(gse.samples|length) }}</h3>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Cell Type</th>
            <th>Reported Virus</th>
            <th>Virus Species</th>
            <th>Exclusion Reason</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in gse.samples %}
        <tr>
            <td>{{ geo_accession_link(sample.id) }}</td>
            <td>{{ sample.title|default("Title Unknown") }}</td>
            <td>{{ cell_type(sample) }}</td>
            <td>{{ sample.reported_virus }}</td>
            <td>{% if 'normalized_virus' in sample -%}
                <span {% if sample.normalized_virus != "Uninfected" %}class="species"{% endif %}>{{ sample.normalized_virus }}</span>
                {%- endif %}</td>
            <td>{% if not sample.valid_experiment -%}
                    <span class="invalid">{{ sample.invalid_reason }}</span>
                    {%- if 'extra_info' in sample %}<br>{{ sample.extra_info }}{% endif %}
                {%- elif 'missing_reason' in sample -%}
                    <span class="invalid">Data failed QC</span>
                    {%- if sample.missing_reason == "Sample failed QC" -%}
                        {%- if sample.pm_mean is defined and sample.pm_mean < 65 %}<br><code>pm_mean</code> is {{ sample.pm_mean }} (low signal, below threshold of 60){% endif -%}
                        {%- if sample.all_probeset_mad_residual_mean is defined and sample.all_probeset_mad_residual_mean > 0.8 %}<br><code>all_probeset_mad_residual_mean</code> is {{ sample.all_probeset_mad_residual_mean }} (poor normalization, above threshold of 0.80){% endif -%}
                        {%- if sample.pseudoaligned_reads is defined and sample.pseudoaligned_reads < 1500000 %}<br><code>pseudoaligned_reads</code> is {{ sample.pseudoaligned_reads }} (low number of usable reads){% endif -%}
                        {%- if sample.pct_pseudoaligned is defined and sample.pct_pseudoaligned < 18 %}<br><code>pct_pseudoaligned</code> is {{ sample.pct_pseudoaligned }}% (low fraction of usable reads){% endif -%}
                    {%- elif sample.missing_reason == "Study failed QC" -%}
                        <br>At least 40% of samples in study failed QC
                    {%- else %}<br>{{ sample.missing_reason }}
                    {%- endif -%}
                {%- endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}