{% extends "base.html" %}
{% block title %}Statistics{% endblock %}
{% block body %}
<h2>Counts per Virus:</h2>
<table>
    <thead>
        <tr>
            <th>Virus</th>
            <th># Studies</th>
            <th># Samples</th>
        </tr>
    </thead>
    <tbody>
    {% for virus in virus_counts %}
    {% set commify=joiner(", ") %}
    <tr>
        <td>{% if virus._id == "Uninfected" %}Uninfected{% else -%}
            <span class="species">{{ virus._id }}</span>{% endif %}</td>
        <td><a href="{{ url_for('ui.search_results', q=virus._id) }}">{{ virus.study_count }}</a></td>
        <td>{{ virus.sample_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
