{% extends "base.html" %}
{% block title %}VExD - About{% endblock %}
{% block body %}
<h2>Contact Us</h2>
<p>Do you have an issue with the site?  Did we miss a study that should have been included?  Did we make your life easier?  Send feedback to the primary developer, <a href="mailto:phillip.dexheimer@cchmc.org?subject=VExD%20feedback">Phillip Dexheimer</a>.</p>
<h2>How should I cite VExD?</h2>
<cite>Phillip J Dexheimer, Mario Pujato, Krishna M Roskin, Matthew T Weirauch. VExD: A curated resource for human gene expression alterations following viral infection. (2023) G3 Genes|Genomes|Genetics, jkad176; DOI: <a href="https://doi.org/10.1093/g3journal/jkad176">10.1093/g3journal/jkad176</a></cite>
<h2>Who did all this?</h2>
<p>A joint effort between the <a href="https://www.cincinnatichildrens.org/research/divisions/b/bmi/labs/roskin">Roskin</a> and <a href="http://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology/labs/weirauch/default/">Weirauch</a> labs at Cincinnati Children's Hospital, VExD was conceived and developed by:</p>
<ul>
    <li>Phillip Dexheimer</li>
    <li>Mario Pujato</li>
    <li>Krishna Roskin</li>
    <li>Matthew Weirauch</li>
</ul>
<p>Special thanks to Erica DePasquale for designing the VExD logo, Kevin Ernst for help with deploying the website, and all the members of the Roskin and Weirauch labs for their constructive feedback.</p>
<h2 id="viruses">What viruses are in VExD?</h2>
<p>The currently represented viruses are:</p>
<table>
    <thead>
        <tr><th>Virus</th><th>Number of Studies</th><th>Number of Samples</th></tr>
    </thead>
    <tbody>
        {%- for virus in virus_counts if virus._id != 'Uninfected' -%}
        <tr><td><span class="species">{{ virus._id }}</span></td><td>{{ virus.study_count }}</td><td>{{ virus.sample_count }}</td></tr>
        {%- endfor -%}
    </tbody>
</table>
{% endblock %}