<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ url_for('ui.vexd_home') }}" id="home_icon"><img style="height: 9em" src="{{ url_for('static', filename='vexd_logo_bare.svg') }}"></a>
            <h1 id="title"><span class="acronym">V</span>irus <span class="acronym">Ex</span>pression <span class="acronym">D</span>atabase</h1>
            <a id="cchmc" href="http://www.cincinnatichildrens.org/"><img src="{{ url_for('static', filename='Cchmc_brand_logo_with_clear_space.png') }}"></a>
            <nav>
                <a href="{{ url_for('ui.vexd_home') }}">Studies</a>
                <a href="{{ url_for('ui.gene_search') }}">Genes</a>
                <a href="{{ url_for('ui.api_docs') }}">API</a>
                <a href="{{ url_for('ui.download_page') }}">Downloads</a>
                <a href="{{ url_for('ui.methods') }}">Methods</a>
                <a href="{{ url_for('ui.about') }}">About VExD</a>
                <a href="{{ url_for('ui.help') }}">Help</a>
            </nav>
        </header>
        <div class="bodytext">
        {% block body %}{% endblock %}
        </div>
        <footer>
            <p>A <a href="http://www.cincinnatichildrens.org/research/divisions/a/genomics-etiology/labs/weirauch/default/" title="Weirauch Research Lab">Weirauch Research Lab</a> Production<br>
            <a href="{{ url_for('ui.about') }}">Contact Us</a></p>
            <p>&copy; 2021&ndash;2022 Cincinnati Children's Hospital Medical Center<br>
                3333 Burnet Avenue, ML 15012, Cincinnati, Ohio 45229-3039
             </p>
        </footer>
    </body>
</html>