{% extends "base.html" %}
{% block title %}VExD - Downloads{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .params {
        width: 80%;
        margin: 0 auto;
        font-size: smaller;
    }
    .flex-container {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    .dl-box {
        min-height: 6em;
        width: 15em;
        border: 1px solid darkgrey;
        text-align: center;
        margin: 0.5em;
        padding: 0.1em;
    }
    .link-box a {
        font-size: larger;
    }
    .title {
        font-size: 115%;
    }
    </style>
{% endblock %}
{% macro download(title, file_info) -%}
<div class="dl-box">
<span class="title">{{ title|safe }}</span><br>
<br>
<div class="flex-container">
<div class="link-box">
<a href="{{ url_for('ui.download_file', filename=file_info.TSV.name) }}">TSV</a><br>
({{ file_info.TSV.size|filesizeformat }})
</div>
<div class="link-box">
<a href="{{ url_for('ui.download_file', filename=file_info.PARQUET.name) }}">Parquet</a><br>
({{ file_info.PARQUET.size|filesizeformat }})
</div>
</div>
</div>
{%- endmacro %}
{% block body %}
<p>From this page, you can download the complete annotations and results found in VExD.  All results are provided as tab-separated text files and as <a href="https://parquet.apache.org">Parquet</a> objects which can be <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_parquet.html#pandas.read_parquet">easily loaded into pandas DataFrames</a>.  The data in both files is the same, so pick the format most convenient for your purpose.</p>
<p>For convenience, we also provide complete differential expression results for every virus individually.  To further customize the results, see the <a href="{{ url_for('ui.study_search') }}">Study Search</a> page.</p>
<h2>Full Database Downloads</h2>
<div class="flex-container">
{{ download("<b>All annotations</b>", file_info.annot) }}
{{ download("<b>All Fold Changes</b>", file_info.all) }}
</div>
<p>The <b>All annotations</b> file contains one row per &quot;analysis&quot; in VExD, similar to the results on the <a href="{{ url_for('ui.study_search') }}">Study Search</a> page. Each row summarizes the data for a single unique combination of GEO study id, virus, (BTO-annotated) cell/tissue type, and analysis platform.  The file includes the number of samples in the analysis, as well as (if appropriate) the number of total significant genes and up/down regulated significant genes.</p>
<p>The <b>All Fold Changes</b> file is a matrix of genes (in rows) by analyses (in columns).  It includes six header lines that describe the columns (one each to describe the study, virus, BTO ID, BTO Name, experimental platform, and data type), followed by a header line to describe the gene annotations (Ensembl ID and Symbol).  There are two columns per analysis, distinguished by the <code>data</code> header, that contain the log<sub>2</sub> fold change of infected samples versus controls and the Benjamini-Hochberg adjusted p-value of that comparison.</p>
<h2>Virus-Specific Downloads</h2>
<p>These files are distinct subsets of the <b>All Fold Changes</b> file above.  They follow the same format as that file, except that they do not include the <code>virus</code> column header.</p>
<div class="flex-container">
{% for virus in file_info.virus.keys() -%}
{{ download("<i>" ~ virus ~ "</i>", file_info.virus[virus]) }}
{%- endfor %}
</div>
{% endblock %}