{% extends "base.html" %}
{% from "utils.html" import gene_search_head, gene_search_body %}
{% block title %}VExD - Gene Search{% endblock %}
{% block head %}
    {{ super() }}
    {{ gene_search_head() }}
{% endblock %}
{% block body %}
    <p>Look up specific genes to see their regulation and p-value in all viral infection experiments.  Note that some experiments, particularly those that use older microarrays, may not query all genes.</p>
    <p>More detailed instructions can be found on the <a href="{{ url_for('ui.help') }}">Help</a> page.</p>
    <p><strong>Example Searches:</strong> <a href="{{ url_for('ui.display_gene_info', q='ENSG00000187608') }}">ISG15</a> &bull; <a href="{{ url_for('ui.display_gene_info', q='ENSG00000162231') }}">NXF1</a> &bull; <a href="{{ url_for('ui.display_gene_info', q='ENSG00000077150') }}">NFKB2</a></p>
    {{ gene_search_body() }}
{% endblock %}