{% extends "base.html" %}
{% from "utils.html" import cell_type, gene_search_head, gene_search_body %}
{% block title %}VExD - Gene Results{% endblock %}
{% block head %}
{{ super() }}
{{ gene_search_head(false, gene.ensembl_id) }}
<script>
window.addEventListener('DOMContentLoaded', () => {
    fetch("{{ url_for('ui.gene_boxplot', q=gene.ensembl_id) }}")
    .then(response => response.blob())
    .then(imageblob => {
        img = document.getElementById("boxplot");
        img.src = URL.createObjectURL(imageblob);
        img.addEventListener('load', () => URL.revokeObjectURL(this.src));
    });
});
</script>
{% endblock %}
{% block body %}
{{ gene_search_body(true, false) }}<br>
<div style="display: grid; grid-template-columns: 48% 48%; gap: 4%">
<div>
<h1>{{ gene.symbol }}</h1>
<h2>{{ gene.description|default("No Description") }}</h2>
<p><b>Ensembl ID:</b> <a href="https://ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ gene.ensembl_id }}" target="_blank">{{ gene.ensembl_id }}</a></p>
<p><b>Refseq:</b> {% set commify=joiner(", ") %}{% for refseq in gene.refseq %}{{ commify() }}<a href="https://www.ncbi.nlm.nih.gov/nucleotide/{{ refseq }}" target="_blank">{{ refseq }}</a>{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Entrez ID:</b> {% set commify=joiner(", ") %}{% for entrez in gene.entrez %}{{ commify() }}<a href="https://www.ncbi.nlm.nih.gov/gene/{{ entrez }}" target="_blank">{{ entrez }}</a>{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Aliases:</b> {% set commify=joiner(", ") %}{% for alias in gene.alias %}{{ commify() }} {{ alias }}{% else %}<i>None listed</i>{% endfor %}</p>
<p><a href="{{ url_for('ui.gene_info_text', q=gene.ensembl_id) }}">Download table as text</a></p>
</div>
<a href="{{ url_for('ui.gene_boxplot', q=gene.ensembl_id) }}">
<img src="" alt="Loading boxplot..." style="width: 100%" id="boxplot">
</a>
</div>
<table class="gse_list">
    <thead>
        <tr>
            <th>Study</th>
            <th>Virus</th>
            <th>Cell Type</th>
            <th># Infect/Ctrl</th>
            <th>Fold Change</th>
            <th>Adjusted p-value</th>
        </tr>
    </thead>
    <tbody>
        {% for result in gene_results %}
        <tr>
            <td><a href="{{ url_for('ui.display_geo_entry', gse_id=result.study) }}">{{ result.study }}</a></td>
            <td><i>{{ result.virus }}</i></td>
            <td>{{ cell_type(result) }}</td>
            <td>{{ result.infect_count }} / {{ result.control_count }}</td>
            <td>{{ (result.fc if result.logfc > 0 else 1.0/result.fc)|round(3)|highlight(result.logfc >= 1 or result.logfc <= -1) }}
            &nbsp;{{ "&#x2191;"|safe if result.logfc > 0 else "&#x2193;"|safe }}</td>
            <td>{{ '{:.4g}'.format(result.adj_p)|highlight(result.adj_p <= 0.05) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}