{% extends "base.html" %}
{% from "utils.html" import cell_type, gene_search_head, gene_search_body %}
{% block title %}VExD - Gene Results{% endblock %}
{% block head %}
{{ super() }}
{{ gene_search_head(false, gene.ensembl_id, true, tissue) }}
<script src="{{ url_for('static', filename='sortable.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='sortable-theme-minimal.css') }}" />
<script>
window.addEventListener('DOMContentLoaded', () => {
    fetch("{{ url_for('ui.gene_boxplot', q=gene.ensembl_id, tissue=tissue, descendants=use_descendants)|safe }}")
    .then(response => response.blob())
    .then(imageblob => {
        img = document.getElementById("boxplot");
        img.src = URL.createObjectURL(imageblob);
        img.addEventListener('load', () => URL.revokeObjectURL(this.src));
    });
    const table = document.querySelectorAll('table[data-sortable]')[0];
    const th = table.querySelectorAll('th')[6];
    th.dispatchEvent(new Event('click'));
});
Sortable.setupTypes([
    {
        name: 'scientific',
        defaultSortDirection: 'ascending',
        reverse: true,
        match: a => !isNaN(parseFloat(a)),
        comparator: a => parseFloat(a) || 0
    },
    {
        name: 'alpha',
        defaultSortDirection: 'ascending',
        match: () => true,
        compare: (a, b) => a.localeCompare(b)
    }
]);
Sortable.init();
</script>
<style>
.tooltip .tooltiptext {
    width: 10em;
    margin-left: -5em;
}
</style>
{% endblock %}
{% block body %}
{{ gene_search_body(true, false, true, use_descendants) }}<br>
<div style="display: grid; grid-template-columns: 48% 48%; gap: 4%">
<div>
<h1>{{ gene.symbol }}</h1>
<h2>{{ gene.description|default("No Description") }}</h2>
<p><b>Ensembl ID:</b> <a href="https://ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ gene.ensembl_id }}" target="_blank">{{ gene.ensembl_id }}</a></p>
<p><b>Refseq:</b> {% set commify=joiner(", ") %}{% for refseq in gene.refseq %}{{ commify() }}<a href="https://www.ncbi.nlm.nih.gov/nucleotide/{{ refseq }}" target="_blank">{{ refseq }}</a>{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Entrez ID:</b> {% set commify=joiner(", ") %}{% for entrez in gene.entrez %}{{ commify() }}<a href="https://www.ncbi.nlm.nih.gov/gene/{{ entrez }}" target="_blank">{{ entrez }}</a>{% else %}<i>None listed</i>{% endfor %}</p>
<p><b>Aliases:</b> {% set commify=joiner(", ") %}{% for alias in gene.alias %}{{ commify() }} {{ alias }}{% else %}<i>None listed</i>{% endfor %}</p>
</div>
<a href="{{ url_for('ui.gene_boxplot', q=gene.ensembl_id, tissue=tissue, descendants=use_descendants) }}">
<img src="" alt="Loading boxplot..." style="width: 100%" id="boxplot">
</a>
</div>
<div style="display: flex; justify-content: space-between; align-items: center">
    <h3>{{ gene_results|length }} Results</h3>
    <span><b>Displaying results in {% if tissue and tissue != "" %}<code>{{ tissue_name }}</code>{% else %}all tissue/cell types{% endif %}</b></span>
    <a href="{{ url_for('ui.gene_info_text', q=gene.ensembl_id, tissue=tissue, descendants=use_descendants) }}">Download table as text</a>
</div>
<table class="gse_list" data-sortable>
    <thead>
        <tr>
            <th></th>
            <th>Study</th>
            <th>Virus</th>
            <th>Cell Type</th>
            <th># Infect/Ctrl</th>
            <th>Fold Change</th>
            <th data-sortable-type="scientific">Adj p-value</th>
        </tr>
    </thead>
    <tbody>
        {% for result in gene_results %}
        <tr>
            <td data-value="{{ result.setting }}">
                <span class="tooltip"><img src="{{ url_for('static', filename=result.setting|replace(' ', '')~'.png') }}" style="height: 1.2em" />
                    <span class="tooltiptext">Cells infected <i>{{ result.setting }}</i></span>
                </span>
            </td>
            <td data-value="{{ result.study|trim('GSE') }}"><a href="{{ url_for('ui.display_geo_entry', gse_id=result.study) }}">{{ result.study }}</a></td>
            <td><i>{{ result.virus }}</i></td>
            <td>{{ cell_type(result) }}</td>
            <td data-value="{{ result.infect_count + result.control_count }}">{{ result.infect_count }} / {{ result.control_count }}</td>
            <td data-value="{{ result.logfc }}">{{ (result.fc if result.logfc > 0 else 1.0/result.fc)|round(3)|highlight(result.logfc >= 1 or result.logfc <= -1) }}
            &nbsp;{{ "&#x2191;"|safe if result.logfc > 0 else "&#x2193;"|safe }}</td>
            <td>{{ '{:.4g}'.format(result.adj_p)|highlight(result.adj_p <= 0.05) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}