{% extends "base.html" %}
{% block title %}VExD - Help{% endblock %}
{% block head %}
{{ super() }}
<style>
    .screenshot {
        border-style: inset;
        margin: 1em;
    }
    .right {
        float: right;
        clear: both;
    }
    #browse_tree {
        height: 14em;
    }
    #study_result,
    #gene_result {
        width: 85%;
    }
</style>
{% endblock %}
{% block body %}
<h2>Searching for studies</h2>
<h3>Virus Name</h3>
<p>Viruses in VExD use the species name assigned by the <a href="https://talk.ictvonline.org">ICTV</a>. However, VExD also understands common aliases and abbreviations. Begin typing in the searchbox, and a list of suggestions will display.  Once your virus of interest appears in the suggestion list, select it with the arrow keys and Enter or simply by clicking on it.</p>
<h3>Tissue/Cell type</h3>
<p>VExD uses the <a href="https://www.brenda-enzymes.org/ontology.php?ontology_id=3">Brenda Tissue Ontology</a> to notate the cell/tissue type used in experiments.  Similar to the virus name, start typing in the textbox and select from the suggestion list.</p>
<img class="screenshot right" id="browse_tree" src="{{ url_for('static', filename='lymphocyte_search.png') }}" />
<h4>I can't find my cell type!</h4>
<p>It can be challenging to figure out the exact name to use in the BTO.  A good example is trying to search for &quot;B cell&quot; &ndash; absolutely nothing related to B cells pops up in the search box.  If you can't find the term you're looking for, search for a more general term.  In this case, I would try &quot;lymphocyte&quot; or maybe even &quot;blood&quot;.  Once you've selected the more general term, click the &quot;Show Tissue Tree&quot; link. You should see something similar to the image on the right.  From here, you can navigate in the tree until you find the term you need (in this case, &quot;B-lymphocyte&quot; is a direct child of &quot;lymphocyte&quot;).  Click the term in the tree, and it will be selected in the searchbox as well.</p>
<h4>Wait, why does &quot;lymphocyte&quot; appear multiple times in that tree?</h4>
<p>A common feature of ontologies is that terms can have multiple parents &ndash; a lymphocyte is both a leukocyte and a type of lymphoid cell. The tree browser shows you all the places your term exists in the hierarchy.  Don't worry, though, the terms (and all of their children) are identical.  It doesn't matter which of them you click on or expand.</p>
<h4>What about cell lines?</h4>
<p>BTO does include terms for some of the most common cell lines, but it is not at all comprehensive. Rather than using specific cell line terms (like &quot;A-549 cell&quot;) for some cell lines and more general terms (like &quot;non-small cell lung adenocarcinoma cell line&quot;) for others, VExD uses the more general term for all cell lines.  If you want to search VExD for a specific cell line, use the suggestion box to find it.  Then click &quot;Show Tissue Tree&quot; and select the immediate parent of your cell line.</p>
<h3>Include more specific tissues?</h3>
<p>If this box is checked, then VExD will look for the BTO you selected as well as all children of that term.  For example, searching for &quot;lymphocyte&quot; with this box checked will return results for T cells, B cells, lymphoblasts, etc.  In general, you should leave this box checked.  You would uncheck it if you wanted to search for a specific term and nothing else.</p>
<h2>Understanding study search results</h2>
<p>Results from a study search are listed in a table, with each row representing a single differential expression analysis.  Analyses were performed within each study, while matching the virus, cell type, and platform.  This makes it extremely common for studies to have multiple analyses, because they queried multiple cell types for instance.  Results are ordered by the number of significant genes found.  You can click the <i>Download table as text</i> link at the top to get the results page as a tab-separated text file.</p>
<img class="screenshot" id="study_result" src="{{ url_for('static', filename='study_result.png') }}" />
<p>Each line of the results table summarizes an analysis.  From left to right, the columns tell you:</p>
<ul>
    <li>What defined this analysis type?  From top to bottom, this cell lists the study ID, virus, cell type, and platform.</li>
    <li>The title of the study in GEO</li>
    <li>The number of samples analyzed.  This is the number used in this analysis (ie, matching the conditions in the first cell), not in the entire study.  If a number is struck through, one or more samples were unable to be used even though they met the criteria - hover over the yellow exclamation point to find the reason.</li>
    <li>The number of significant genes found, followed by the number that were up- and down-regulated by the virus.  Click any of these numbers to download a tab-separated file of results.  If the number of significant genes is 0, a test was performed but no genes reached significance.  If the number is &quot;--&quot;, no test was performed because the number of available samples (either infected or control) is less than two.</li>
    <li>A link to download the complete differential expression analysis for this row as a tab-separated text file.</li>
</ul>
<h2>Searching for genes</h2>
<h3>Gene Symbol/ID</h3>
<p>Enter a gene symbol or Ensembl human gene ID (beginning with ENSG) into this box.  As you type, a suggestion list will pop up, which you can select from with the mouse or using the arrow keys and Enter.</p>
<h2>Understanding gene search results</h2>
<p>Following some basic information about the gene (name, aliases, etc), and a link to download the results as a tab-delimited text file, the results page shows the differential regulation of the gene in every experiment in which it is found.  Note that microarrays, particularly older varieties, do not include all genes. Results are ordered by increasing p-value.</p>
<img class="screenshot" id="gene_result" src="{{ url_for('static', filename='gene_result.png') }}" />
<p>Each line shows the gene's expression change in a single comparison (as before, comparisons are defined by a common study, virus, cell type, and platform).  The columns in the results are:</p>
<ul>
    <li>GEO Study ID</li>
    <li>Virus name</li>
    <li>Tissue/Cell type</li>
    <li>Number of analyzed samples broken up by infection status &ndash; first infected samples, then uninfected controls</li>
    <li>The fold change, relative to controls, found in this comparison.  Bolded values are at least 2-fold, which is the threshold for significance in VExD.</li>
    <li>Benjamini-Hochberg adjusted p-value.  Bolded values are less than 0.05, which is the significance threshold in VExD.</li>
</ul>
{% endblock %}