{% extends "base.html" %}
{% block title %}Heatmap{% endblock %}
{% block head %}
{{ super() }}
{% set ns = namespace() %}
<link rel="stylesheet" href="https://software.broadinstitute.org/morpheus/css/morpheus-latest.min.css">
<script type="text/javascript"
        src="https://software.broadinstitute.org/morpheus/js/morpheus-external-latest.min.js"></script>
<script src="https://software.broadinstitute.org/morpheus/js/morpheus-latest.min.js"></script>
<script>
  var json = {
    "rows": {{ genes|length }},
    "columns": {{ studies|length }},
    "seriesArrays": [[{% set outer_comma = joiner(",") %}
        {%- for g in genes -%}
        {{ outer_comma() }}{% set inner_comma = joiner(",") %}{% set ns.i = 0 %}[{% for s in studies -%}
        {{ inner_comma() }}{% if (ns.i < g.studies|length) and (g.studies[ns.i].study == s.study) and (g.studies[ns.i].cell_type == s.cell_type) and (g.studies[ns.i].platform == s.platform) -%}
        {{ g.studies[ns.i].logfc|round(3) }}{% set ns.i = ns.i + 1 %}{% else %}null{% endif %}
        {%- endfor %}]{% endfor %}
    ]],
    "seriesDataTypes": ["Float32"],
    "seriesNames": ["{{virus}}"],
    "rowMetadataModel": {
      "vectors": [{
        "name": "symbol",
        "array": {{ genes|map(attribute='symbol')|list|tojson }}
      }, {
        "name": "Ensembl ID",
        "array": {{ genes|map(attribute='ensembl_id')|list|tojson }}
      }, {
        "name": "Probeset ID",
        "array": {{ genes|map(attribute='_id')|list|tojson }}
      }]
    },
    "columnMetadataModel": {
      "vectors": [{
        "name": "GEO Study",
        "array": {{ studies|map(attribute='study')|list|tojson }}
      }, {
        "name": "Cell Type",
        "array": {{ studies|map(attribute='bto_name', default='unknown')|list|tojson }}
      }, {
        "name": "Platform",
        "array": {{ studies|map(attribute='platform')|list|tojson }}
      }]
    }
  };
  window.addEventListener("load", function() {
    new morpheus.HeatMap({
    el: $('#heatmap'),
    dataset: morpheus.Dataset.fromJSON(json),
    colorScheme: { // optional color scheme. default is relative
      type: 'fixed',
      map: [{
        value: -2,
        color: '#0000ff'
      }, {
        value: 0,
        color: '#ffffff'
      }, {
        value: 2,
        color: '#ff0000'
      }]
    }
  });

  });
</script>
{% endblock %}
{% block body %}
<div id="heatmap"></div>
{% endblock %}