{% extends "base.html" %}
{% from "utils.html" import uber_search_head, uber_search_body %}
{% block title %}VExD - the viral expression database{% endblock %}
{% block head %}
    {{ super() }}
    {{ uber_search_head() }}
{% endblock %}
{% block body %}
    {{ uber_search_body() }}
    <br>
    <p>From this page, you can search by virus and/or tissue type.  The results will include a list of studies and the count of differentially expressed genes for each.</p>
    <h2>Example Searches</h2>
    <ul>
        <li><a href="{{ url_for('ui.virus_results', q='Human gammaherpesvirus 4', tissue='', descendants=true) }}">Any cell infected with Epstein-Barr virus</a></li>
        <li><a href="{{ url_for('ui.virus_results', q='', tissue='BTO:0001025', descendants=false) }}">PBMCs infected with any virus</a></li>
        <li><a href="{{ url_for('ui.virus_results', q='Human immunodeficiency virus 1', tissue='BTO:0000089', descendants=true) }}">Any blood cell infected with HIV</a></li>
    </ul>
    <p>More detailed instructions can be found on the <a href="{{ url_for('ui.help') }}">Help</a> page.</p>
{% endblock %}