body {
    background-color: #d7e3d0;
}

header {
    display: grid;
    grid-template-columns: 9em auto 16em;
    grid-template-rows: 6.5em 3.5em;
    grid-gap: 0
}

header img {
    height: 6.5em;
}

header h1 {
    color: #58585a;
    margin: 0.8em 0;
    font-weight: bolder;
    text-shadow: -1px 0 #030303, 0 1px #030303, 1px 0 #030303, 0 -1px #030303;
    letter-spacing: 2px;
    text-align: center;
}

.acronym {
    color: #87b074;
    font-size: 120%;
}

header * {
    display: inline-block;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#home_icon {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}

#title {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

#cchmc {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

nav {
    overflow: hidden;
    background-color: #ccc;
    margin-bottom: 1em;
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
}
nav a {
    float: left;
    text-align: center;
    color: #333333;
    padding: 0.6em 1em;
    text-decoration: none;
    font-size: 110%;   
}
nav a:hover {
    background-color: #333333;
    color: #ccc;
}

footer {
    margin-top: 2em;
    border-top: 1px dashed #ccc;
    font-size: 80%;
    text-align: center;
}

.bodytext {
    margin: auto 3em;
}

input[type=text] {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
}

textarea {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
}
.searchbox {
    padding: 12px 20px 12px 40px !important;
    background-image: url(searchicon.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
}
.geo_icon {
    height: 1em;
}
table {border-collapse: collapse;}
td,th {
    padding: 0.3em 1em;
    border: 1px solid black;
}
.invalid {
    color: maroon;
}
.species {
    font-style: italic;
}

.gse_list>tbody>tr:nth-child(even) {
    background-color: #ccc;
}
.gse_list>tbody>tr:nth-child(odd) {
    background-color: mintcream;
}
.gse_list td,th {
    border: 0;
}
.gse_list .pubmed {
    text-decoration: none;
}
.gse_list .geo_id {
    font-size: larger;
}
.nowrap {
    white-space: nowrap;
}
.gse_list .title {
    font-size: 105%;
}
.gse_list .platform {
    font-size: smaller;
}
.gse_list .microarray::before {
    background-image: url(array.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    padding-right: 0.4em;
    content: "";
}
.gse_list .ngs::before {
    background-image: url(rnaseq.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    padding-right: 0.4em;
    content: "";
}

abbr[title] {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.tooltip {
    position: relative;
}

.warning {
    background-color: yellow;
    cursor: default;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 20em;
    background-color: black;
    color: white;
    font-size: small;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10em;
    z-index: 1;
}

.tooltip:hover .tooltiptext { visibility: visible; }
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

abbr { cursor: help; }

.tooltiptext table {
    margin: 0.7em auto;
}

.tooltiptext table tr {
    background-color: black;
}
